@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .debug {
        border: 1px solid red;
    }
    .debugWhite {
        border: 1px solid white;
    }
}

html {
    overscroll-behavior: none;
}
